@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');

body{
    /* background: #BA8C63; (alte bevorzugte Holz-Farbe) */
    /* background: #F9E2C4; */
    background-image: url("public/game_images/Wood.jpg");
    font-family: 'Blinker', sans-serif;

    margin-top: 6vh;
    margin-bottom: 12vh;
}

a{
  text-decoration: none;
}

/* Game Elements */

.game-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 80vh; /* make container full height */
  }
  
  .game {
    display: flex;
    width: 271px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4E5D94; /* alt: #45739C*/
    /* existing styles... */
    margin-top: 2vh; /* add margin to bottom of each game div */
  
    border: 2px solid #95704F;
    border-radius: 10% 10% 10% 10%;
    color: #f4f4f4;
    
    
  }
  
  .gamepic {
    flex-basis: 40%; /* takes up 40% of parent width */
    background: #D3D3D3; /* light grey, change as needed */
    height: 100%; /* full height of parent */

    border-radius: 10% 0 0 10%;


   max-width: 112px; /* custom max-image size for glow hockey game */

  }
  
  .gamedesc {
    flex-basis: 60%; /* takes up 60% of parent width */
    background: #5D4632; /* grey, change as needed */
    height: 100%; /* full height of parent */

    border-radius: 0 10% 10% 0;


  }

  .gamedesc h2,p{
    margin-left: 8%;
  }

  .game img {
    height: 112px;
    
    border-radius: 10% 0 0 10%;


  }

  /* Rectangles */

  .rectangle-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 1%;
    right: 1%;
    width: auto;

    padding: 0 0 1% 0;
    margin: 0 0 8% 0;
    font-size: 18px;
  }
  
  .rectangle {
    flex: 1 1 calc((100% - 2 * 4% ) / 3); /* 100% minus twice the gap (4%) divided by 3 rectangles */
    height: 50px;
    background: #5D4632;
    margin: 0 1%; /* This is the gap size */


    
    /* Center the text and make it visible */
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #f4f4f4; /* color of the text */
    font-size: 1.35em; /* size of the text */

    border: 2px solid #95704F;
    border-radius: 10% 10% 10% 10%;

  }

  .rectangle p {
    -webkit-text-stroke: 0.5px black;
  }


/* CSS States */

  .active_categorie{
    /* background: #C8A382; */
    background: #BA8C63;
  }
  
  .hid{
    display: none;
  }